<div class="" ng-controller="UploadController">
    <table class="table table-hover table-striped">
        <thead>
            <tr>                                    
                <th></th>
                <th>Anexo</th>
                <th>Adicionado por</th>
                <th>Adicionado em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entity in files %}
                <tr id="upload_{{entity.id}}">
                    <td>
                        {{ entity.annexType }}
                    </td>
                    <td>
                        <a href="{{ asset('uploads/generic/' ~ entity.filename) }}" target="_blank">
                        {{ entity.description }}
                        </a>
                    </td>
                    <td>{{entity.createdBy.name}}/{{entity.createdBy.entity.name}}</td>
                    <td>{{entity.createdAt|date('Y-m-d')}}</td>
                    <td>
                        <a href="#" ng-click="remove({{entity.id}})">
                            <span class="text-danger">
                                <span class="fa fa-remove"></span> Remover
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# {% if files %}
        {{ pagerfanta(paginate, 'twitter_bootstrap3', {
            'next_message': 'Proximo',
            'prev_message': 'Anterior'
            }) 
        }}
    {% endif %} #}

</div>