<div class="modal fade" id="viewSugestionModal">
  <div class="modal-dialog">
    <div class="modal-content">

      {# modal-header #}
      <div class="modal-header bg-arfa">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
            Visualizando
            <span ng-if="entity.type == 'reclamacao'">Reclama&ccedil;&atilde;o</span>
            <span ng-if="entity.type == 'sugestao'">Sugestão</span>
        </h4>
      </div>

      {# modal-body #}
      <div class="modal-body">
            <h3 class="box-title" style="font-weight:bold;margin-top:4px;">
                <span ng-if="entity.type == 'reclamacao'">Reclama&ccedil;ão</span>
                <span ng-if="entity.type == 'sugestao'">Sugestão</span>

                <a href="#">
                    {{ '{{entity.objCode}}' }}
                </a>
            </h3>
            <p style="font-size:12px;color:gray">
                <span class="fa fa-user"></span>
                Criada por {{'{{entity.createByName}}'}}/{{'{{entity.createByEnt}}'}}
            </p>

            <br/>

            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                            <span ng-if="entity.type == 'reclamacao'">Reclama&ccedil;&atilde;o</span>
                            <span ng-if="entity.type == 'sugestao'">Sugestão</span>
                        </a>
                    </li>

                    <li role="presentation" ng-if="entity.parAuthorName">
                        <a href="#response" aria-controls="profile" role="tab" data-toggle="tab">
                            Parecer
                        </a>
                    </li>

                    <li role="presentation">
                        <a href="#anexos" aria-controls="anexos" role="tab" data-toggle="tab">Anexos</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="padding:10px;">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="form-group">
                            <label>Nome do utente</label>
                            <input class="form-control" disabled="disabled" value="{{ '{{entity.name}}' }}" />
                            <input class="form-control" 
                                disabled="disabled" 
                                    value="{{ '{{entity.phone}} / {{entity.email}}' }}" />
                        </div>

                        <div class="form-group">
                            <label>Data</label>
                            <input class="form-control" disabled="disabled" value="{{ '{{entity.createdAt}}' }}" />
                        </div>

                        <div class="form-group">
                            <label>
                                <span ng-if="entity.type == 'reclamacao'">Reclama&ccedil;&atilde;o</span>
                                <span ng-if="entity.type == 'sugestao'">Sugestão</span>
                            </label>
                            <textarea 
                                ng-model="entity.description" disabled
                                class="form-control"
                                rows="2" placeholder="..."></textarea>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="response">
                        <div class="form-group">
                            <label>Autor do parecer</label>
                            <input class="form-control" disabled value="{{'{{entity.parAuthorName}}'}}" />
                        </div>
                        <div class="form-group">
                            <label>Data</label>
                            <input class="form-control" disabled value="{{'{{entity.parDate}}'}}" />
                        </div>

                        <div ng-if="entity.parType != 'par_annex'">
                            <div class="form-group">
                                <label>C&oacute;digo PT</label>
                                <input class="form-control" disabled value="{{'{{entity.parCode}}'}}" />
                            </div>

                            <div class="form-group">
                                <label>Assunto</label>
                                <input class="form-control" disabled value="{{'{{entity.parSubject}}'}}" />
                            </div>

                            <div class="form-group">
                                <label>Destinat&aacute;rios</label>
                                <textarea 
                                    ng-model="entity.parDest" disabled
                                    class="form-control"
                                    rows="2" placeholder="..."></textarea>
                            </div>

                            <label>Texto do parecer (<span style="color:orangered">*</span>)</label>
                            <textarea ng-model="entity.parDescription"
                                disabled class="form-control"
                                rows="5"></textarea>
                        </div>

                        <div ng-if="entity.parType == 'par_annex'">
                            <div class="form-group">
                                <label>Anexo</label>
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="f in annexFiles">
                                            <td></td>
                                            <td>{{ '{{ f.description }}' }}</td>
                                            <td>
                                                <a href="{{ asset('uploads/generic/') }}{{'{{f.filename}}'}}" target="_blank">
                                                    Ver ficheiro
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group" ng-if="entity.state == NO_RESPONSE">
                            <span class="label label-warning">Sem resposta</span>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="anexos">
                        {{ include('BackendBundle:Upload:listing-ng.html.twig', {}) }}
                    </div>
                </div>
            </div>
      </div>

      {# modal-footer #}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->