<div class="modal fade" id="respondModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ '{{modalTitle}}' }}</h4>
            </div>

            <form ng-submit="respondSubmit()" name="responseForm">
                <div class="modal-body">
                    <label>Queixa/Denuncia</label>
                    {# <a href="#">{{ '{{mObject.code}}' }}</a> #}
                    <input class="form-control" disabled="disabled" value="{{ '{{mObject.code}}' }}" />
                    <br/>

                    <div class="form-group">
                        <label>Nome do utente</label>
                        <input class="form-control" disabled="disabled" value="{{ '{{mObject.name}}' }}" />
                    </div>

                    <div class="form-group">
                        <label>C&oacute;digo PTC (<span style="color:orangered">*</span>)</label>
                        <input class="form-control" required ng-model="responseForm.parCode" />
                    </div>

                    <div class="form-group">
                        <label>Assunto (<span style="color:orangered">*</span>)</label>
                        <input class="form-control" required ng-model="responseForm.parSubject" />
                    </div>

                    <div class="form-group">
                        <label>Destinat&aacute;rios (<span style="color:orangered">*</span>)</label>
                        <textarea ng-model="responseForm.parDestination" 
                            required
                            class="form-control"
                            rows="2" placeholder="..."></textarea>
                    </div>

                    <label>Texto do parecer (<span style="color:orangered">*</span>)</label>
                    <textarea ng-model="responseForm.parDescription" 
                        required
                        class="form-control"
                        rows="5" placeholder="..."></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Enviar formul&aacute;rio</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
