{% extends 'BackendBundle:Default:docs.html.twig' %}

{% block title %}Recibo de registro{% endblock %}

{% block content -%}
<div>
    {% image '@BackendBundle/Resources/public/img/arfa.jpg' %}
        <img src="{{ asset_url }}" 
             class="user-image" 
             width="180" 
             alt="User Image!" 
        />
    {% endimage %}

    <center>
        <h3 class="box-title" style="font-weight:bold">
            Recibo de Ocorrência
        </h3>
        {# <h3>
            <a href="#">
                #{{ entity.objCode }}            
            </a>
        </h3> #}
    </center>

    <table class="table table-hover table-striped" style="margin-bottom:70px">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tipo</td>
                <td>
                    {% if entity.type == 'queixa' %}
                        Queixa
                    {% else %}
                        Den&uacute;ncia
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Número do Registo</td>
                <td>
                    #{{ entity.objCode }}
                </td>
            </tr>

            <tr>
                <td>Dados do Utente</td>
                <td>
                    {{ entity.name }}<br/>
                    {{ entity.phone }}<br/>
                    {{ entity.email }}<br/>
                </td>
            </tr>

            <tr>
                <td>Dados do Operador Económico</td>
                <td>
                    {{ entity.opName }}<br/>
                    {{ entity.opPhone }}<br/>
                    {{ entity.opAddress }}<br/>
                </td>
            </tr>

            <tr>
                <td>Data da Ocorrência</td>
                <td>
                    {{ entity.factDate|date('Y-m-d') }}
                </td>
            </tr>
        </tbody>
    </table>

    <h4 class="msg-recep">Mensagem de Receção</h4>
    <div class="response-area" id="msgContainer">
        <textarea class="form-control" rows="5" rezisable="false" id="msg"></textarea>
    </div>

    <div style="margin-top:70px;">
        <p style="font-size:12px;color:gray">
            <span class="fa fa-user"></span>
            Criado por {{entity.createdBy.name}}/{{entity.createdBy.entity.name}}
            <br/> <span class="fa fa-calendar"></span> em {{entity.createdAt|date('Y-m-d')}}
        </p>
    </div>

    <button id="printMe" class="btn btn-primary hidden-print">
        <span class="fa fa-print"></span> Imprimir
    </button>
</div>
{% endblock %}


{% block jsCode -%}
    <script>
        $("#printMe").click(function () {
            if (!confirm("Deseja mesmo imprimir o recibo")) {
                return;
            }
            window.print();
            var msg=$("#msg").val();
            $("#msgContainer")
        })
    </script>
{% endblock %}