{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content %}
<div class="row" ng-controller="ModuleController">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Editar Modulo</h3>
                <p>
                    <a href="{{ path('administration_Module') }}">
                        <span class="glyphicon glyphicon-back"></span> Voltar
                    </a>
                </p>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                {{ form_start(edit_form) }}
                {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

                {{ form(edit_form) }}
                {{ form_end(edit_form) }}
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <div class="col-xs-12">
        <div class="box">
            <div class="well">
                <h3 style="margin-top: 0px;">
                    Adicionar etapa a este m&oacute;dulo
                </h3>

                {{ form_start(stage_form) }}
                {% form_theme stage_form 'bootstrap_3_layout.html.twig' %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for message in app.session.flashBag.get('ms') %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-3" style="display:none">
                            {{ form_widget(stage_form.module) }}
                        </div>

                        <div class="col-md-3">
                            <label>Etapa</label>
                            {{ form_widget(stage_form.stage) }}
                        </div>

                        <div class="col-md-3" style="display:none">
                            <label>Etapa</label>
                            {{ form_widget(stage_form.createdBy) }}
                        </div>

                        {{ form(stage_form) }}
                    </div>
                {{ form_end(stage_form) }}
            </div>
            {{ include('BackendBundle:Module:stages.html.twig', {'edit_stage' : true}) }}
        </div>
    </div>
</div>
{% endblock %}

