<div class="col-md-2">
    <div class="small-box bg-complaint">
        <div class="inner">
            <h3>{{ '{{complaintCount}}' }}</h3>
            {#<h3>{{counters['queixa'][0]['count']}}</h3>#}
            <p> </p>
        </div>
        <div class="icon">
            {# <i class="fa fa-check"></i> #}
        </div>
        <a href="#" class="small-box-footer">
            Queixas
        </a>
    </div>
</div>

<div class="col-md-2">
    <div class="small-box bg-denounce">
        <div class="inner">
            <h3>{{ '{{denounceCount}}' }}</h3>
            {#<h3>{{counters['denuncia'][0]['count']}}</h3>#}
            <p> </p>
        </div>
        <div class="icon">
            {# <i class="fa fa-check"></i> #}
        </div>
        <a href="#" class="small-box-footer">
            Den&uacute;ncias
        </a>
    </div>
</div>

<div class="col-md-2">
    <div class="small-box bg-intern-recl">
        <div class="inner">
            <h3>{{ '{{internalReclCount}}' }}</h3>
            {# <h3>{{counters['reclamacao_interna'][0]['count']}}</h3> #}
            <p> </p>
        </div>
        <div class="icon">
            {# <i class="fa fa-thumbs-up"></i> #}
        </div>
        <a href="#" class="small-box-footer">
            Reclamações interna
        </a>
    </div>
</div>

<div class="col-md-2">
    <div class="small-box bg-extern-recl">
        <div class="inner">
            <h3 id="reclamation-count">{{ '{{reclamationCount}}' }}</h3>
            {# <h3>{{counters['reclamacao'][0]['count']}}</h3> #}
            <p> </p>
        </div>
        <div class="icon">
            {# <i class="fa fa-thumbs-down"></i> #}
        </div>
        <a href="#" class="small-box-footer">
            Reclamações externa
        </a>
    </div>
</div>

<div class="col-md-2">
    <div class="small-box bg-sugestion">
        <div class="inner">
            <h3 id="sugestion-count">{{ '{{sugestionCount}}' }}</h3>
            {# <h3>{{counters['sugestao'][0]['count']}}</h3> #}
            <p> </p>
        </div>
        <div class="icon">
            {# <i class="fa fa-clock-o"></i> #}
        </div>
        <a href="#" class="small-box-footer">
            Sugestão
        </a>
    </div>
</div>

<div class="col-md-2">
    <div class="small-box bg-comp-book">
        <div class="inner">
            <h3 id="compbook-count">{{ '{{compbookCount}}' }}</h3>
            {# <h3>{{counters['comp_book'][0]['count']}}</h3> #}
            <p> </p>
        </div>
        <div class="icon">
            {# <i class="fa fa-clock-o"></i> #}
        </div>
        <a href="#" class="small-box-footer">
            Livro de reclamações
        </a>
    </div>
</div>
