{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content -%}

<div class="row" ng-controller="CompTratamentoController">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Queixas/Denuncias em tratamento</h3>
            </div>
            <!-- /.box-header -->

            <div class="box-body table-responsive">
                <table class="table table-hover table-striped datatable" style="margin-bottom:70px">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Responsável</th>
                            <th>Data</th>
                            <th>Data Prevista de resposta</th>
                            <th>Utente</th>
                            <th>Contato do utente</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for idx,entity in objects %}
                            <tr id="row-{{entity.id}}">
                                <td>
                                    <a href="{{ path('administration_Complaint_show', {'id': entity.id}) }}">
                                        {{ entity.objCode }}
                                    </a>
                                </td>
                                <td>{{ entity.createdBy.name }}/{{ entity.createdBy.entity.name }}</td>
                                <td>{{ entity.createdAt|date('Y-m-d') }}</td>
                                <td>{{ entity.respDate|date('Y-m-d') }}</td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.phone ~ '/' }} {{entity.email}}</td>
                                <td>
                                    <div class="dropdown" id="xop__{{entity.id}}">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Parecer
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="min-width: 120px;">
                                            <li>
                                                <a href="#" ng-click="respondObj({ id:{{entity.id}}, code:'{{entity.objCode}}', name:'{{entity.name}}', type:'par_tec' })">
                                                    T&eacute;cnico
                                                </a>
                                            </li>
                                            <li >
                                                <a href="#" ng-click="respondObj({ id:{{entity.id}}, code:'{{entity.objCode}}', name:'{{entity.name}}', type:'par_cent' })">
                                                    Cient&iacute;fico
                                                </a>
                                            </li>
                                            <li >
                                                <a href="#" ng-click="annexParecer({ id:{{entity.id}}, code:'{{entity.objCode}}', name:'{{entity.name}}', annexReference:'{{entity.annexReference}}', type:'par_annex' })">
                                                    Anexo
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span id="xstat_{{entity.id}}" class="hidden badge badge-success"></span>
                                </td>
                                <td>
                                    <a href="#" ng-click="viewComplaint({{entity.id}})">
                                        <span class="text-warning fa fa-eye"></span>
                                    </a>

                                    <a href="{{ path('administration_Complaint_edit', { 'id': entity.id }) }}">
                                        <span class="text-warning fa fa-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ include('BackendBundle:Complaint:modals/updatePar.html.twig') }}
                {{ include('BackendBundle:Complaint:modals/viewComplaint.html.twig') }}
                {{ include('BackendBundle:Complaint:modals/updateParAnnex.html.twig') }}
            </div>
            <!-- /.box-body -->
        </div>
    </div>

    {# {{ pagerfanta(fanta, 'twitter_bootstrap3', {
        'next_message': 'Proximo',
        'prev_message': 'Anterior'
        })
    }} #}
</div>

{% endblock %}
