{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content -%}

<div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" style="margin-bottom: 10px;">
                    <h3 class="box-title">CAT&Aacute;LOGO DE PRODUTOS</h3>

                    {% if app.user.profile.id == 1%}
                    <div class="box-tools">
                        <a class="btn btn-success" 
                        href="{{ path('administration_Product_new') }}">
                            Criar Produto
                        </a>
                    </div>
                    {% endif %}
                </div>
                <!-- /.box-header -->


                {% for entity in entities %}
                    <div class="col-sm-6 app-card col-md-4">
                        <div class="thumbnail">
                          <img src="{{ asset('uploads/generic/' ~ entity.picture) }}" alt="Top Projects" />
                          <div class="caption">
                            <span class="pull-right counter">
                                {{entity.price}}$00
                            </span>
                            <h3>
                                <a href="{{ path('administration_Product_show', { 'id': entity.id }) }}">
                                    {{entity.name}}
                                </a>
                                <br/>
                                <small>{{entity.description}}.</small>
                            </h3>
                            <br/>
                            <a class="btn btn-success" href="{{ path('administration_Order_new', {'product': entity.id}) }}">
                                Order
                            </a>
                          </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>

        <div class="col-xs-12">
            {% if entities %}
                {{ pagerfanta(paginate, 'twitter_bootstrap3', {
                    'next_message': 'Proximo',
                    'prev_message': 'Anterior'
                    }) }}
            {% endif %}            
        </div>
</div>

{% endblock %}
