{{ form_start(form) }}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                {{ include('BackendBundle:Upload:ajax-form.html.twig', {
                        'form' : upload_form
                    })
                }}
            </div>
            <div class="form-group">
                <label>Nome</label>
                {{ form_widget(form.name) }}
            </div>
            <div class="form-group">
                <label>Descri&ccedil;&atilde;o</label>
                {{ form_widget(form.description) }}
            </div>
            <div class="hidden">
                {{ form_widget(form.createdAt) }}
                {{ form_widget(form.createdBy) }}
                {{ form_widget(form.annexReference) }}
                {{ form_widget(form.picture) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Pre&ccedil;o</label>
                {{ form_widget(form.price) }}
            </div>
            <div class="form-group">
                <label>Stock</label>
                {{ form_widget(form.inStock) }}
            </div>
            <div class="form-group">
                <label>Observa&ccedil;&atilde;o</label>
                {{ form_widget(form.obs) }}
            </div>
        </div>

        <div class="col-md-12">
            {{ form(form) }}
        </div>

    </div>    
{{ form_end(form) }}

