{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-xs-3">
        <div class="app-card">
            <div class="thumbnail">
              <img src="{{ asset('uploads/generic/' ~ entity.picture) }}" alt="Top Projects" />
              <div class="caption">
                <h3 style="margin:0px;height: auto;">
                    <a href="{{ path('administration_Product_show', { 'id': entity.id }) }}">
                        {{entity.name}}
                    </a>
                </h3>
                <a href="{{ path('administration_Product_catalog', {'category': entity.category.id}) }}" 
                    class="badge badge-default" style="margin-top: 4px;">
                    {{entity.category.name}}
                </a>
                <br/>
                {% if app.user.profile.id ==1 %}
                    <a style="margin-top: 10px;" 
                        href="{{ path('administration_Product_edit', {'id':entity.id}) }}"
                        class="btn btn-success">EDITAR</a>
                {% endif %}
              </div>
            </div>
        </div>
    </div>

    <div class="col-xs-8">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                </h3>
                <!--
                <p style="font-size:12px;color:gray">
                    <span class="fa fa-user"></span>
                    Criada por {{entity.createdBy.name}}
                    <br/> <span class="fa fa-calendar"></span> em {{entity.createdAt|date('Y-m-d H:i')}}
                </p>
                -->
            </div>
            <!-- /.box-header -->

            <div class="box-body no-padding">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <th>Nome</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th>Descri&ccedil;&atilde;o</th>
                            <td>{{ entity.description }}</td>
                        </tr>
                        <tr>
                            <th>Pre&ccedil;o</th>
                            <td>{{ entity.price }}$00</td>
                        </tr>
                        <tr>
                            <th>Em stock</th>
                            <td>{{ entity.inStock }}</td>
                        </tr>
                        <tr>
                            <th>Observa&ccedil;&atilde;o</th>
                            <td>{{ entity.obs }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

{% endblock %}

