{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content -%}

<div class="row" ng-controller="SugestionController">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Arquivo concluído sem resposta</h3>
            </div>
            <!-- /.box-header -->

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-striped datatable" style="margin-bottom:70px;">
                    <thead>
                        <tr>
                            <th>C&oacute;digo#</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Nome</th>
                            <th>Data</th>
                            <th>Morada</th>
                            <th>Criado por</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in objects %}
                            <tr>
                                <td>
                                    <a href="{{ path('administration_Complaint_show', { 'id': entity.id }) }}">
                                        {{ entity.objCode }}
                                    </a>
                                </td>
                                <td>
                                    {% if entity.type == 'reclamacao' %}
                                        Reclamação
                                    {% else %}
                                        Sugestão
                                    {% endif %}
                                </td>
                                <td><span class="badge bg-yellow badge-success">Sem resposta</span></td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td>{{ entity.address }}</td>
                                <td>{{ entity.createdBy.name }}/{{ entity.createdBy.entity.name }}</td>
                                <td>
                                    <a href="#" ng-click="viewSugestion({{entity.id}}, '{{entity.type}}')">
                                        <span class="text-warning fa fa-eye"></span>
                                    </a>

                                    {# <a href="{{ path('administration_Sugestion_receipt', { 'id': entity.id }) }}"
                                        title="Recibo do utente"
                                        target="_blank">
                                        <span class="text-warning fa fa-copy"></span>
                                    </a> #}

                                    {# <a href="{{ path('administration_Sugestion_edit', {'id':entity.id})}}" style="font-size:16px">
                                        <span class="text-warning fa fa-edit"></span>
                                    </a> #}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ include('BackendBundle:Sugestion:modals/viewSugestion.html.twig') }}
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        {# {{ pagerfanta(fanta, 'twitter_bootstrap3', {
            'next_message': 'Proximo',
            'prev_message': 'Anterior'
            })
        }} #}
    </div>
</div>

{% endblock %}
